<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/style/style.css')}}">
</head>

<body>
    <h1>Edit Student information</h1>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <!-- Form -->
                <form class="form-example" action="/update/{{one_student.id}}" method="post">
                    <div class="form-group mb-3">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control first_name" name="first_name"
                            value="{{one_student.first_name}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control last_name" name="last_name"
                            value="{{one_student.last_name}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="occupation">Occupation:</label>
                        <input type="text" class="form-control occupation" name="occupation"
                            value="{{one_student.occupation}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="pet_name">Pet's Name:</label>
                        <input type="text" class="form-control pet_name" name="pet_name"
                            value="{{one_student.pet_name}}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="favorite_snack">Favorite Snack:</label>
                        <input type="text" class="form-control favorite_snack" name="favorite_snack"
                            value="{{one_student.favorite_snack}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-customized">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>