* {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    color: rgb(1, 40, 148);
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

button {
    margin: 10px 0px;
}